body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 15px;
}

h1 {
  text-align: center;
}

#slider {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#slider img {
  position: absolute;
  width: 100%;
  transition: all 1s ease;
  opacity: 0;
  height: 100%;
  object-fit: cover;
}

#slider img:first-child {
  opacity: 1;
}

.button {
  padding: 20px;
  text-align: center;
}

.button button {
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 600px) {
  #slider {
    max-width: 90vw;
  }
}